body {
    background-color: #f6f3e7;
    font-size: 24px;
    text-align: justify;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    text-align: center;
}

footer {
    text-align: center;
}

h1,
h2,
h3,
h4 {
    color: #d18a9d
}

table {
    border-collapse: collapse;
    padding: 0.75rem;
}

th,
td {
    border: 1px solid;
    padding: 0.75rem;
}

figure {
    margin: 0;
}

figcaption {
    margin: 0;
}

a {
    text-decoration: none;
}

nav {
    margin: 15px 0 15px 0;
    padding: 10px 0;
    font-weight: bold;
}