@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    line-height: 1.6;
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
    text-align: justify;
    font-family: "Baloo Bhaijaan 2", sans-serif;
    font-size: 20px;
    color: #2f3e46;
}

/* Header */

.navbar ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline;
  margin-right: 10px;
}

.navbar a {
  text-decoration: none;
  color: #354f52;
  font-weight: bolder;
  border-radius: 5px;
}


/* Links */
a {
    text-decoration: none;
    color: #354f52;
}

a:hover {
    color: #52796f;
}

a

/* Tables */

table {
    border-collapse: collapse;
    padding: 0.75rem;
}

th,
td {
    border: 1px solid;
    padding: 0.75rem;
}


/* Forms */

label {
    display: block;
    margin-top: 10px;
}

input,
textarea {
    width: 50%;
    padding: 5px;
    margin-top: 5px;
}

button {
    display: inline-block;
    margin-top: 10px;
    width: 100px;
}

/* Footer */

footer {
    text-align: center;
}


