@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
    width: 1200px;
    margin: 0 auto;
    text-align: justify;
}

.block {
    display: flex;
    width: 200px;
    height: 200px;
    background-color: palevioletred;
    color: #fff;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}

.left {
    float: left;
    margin-right: 1rem;

}

.right {
    float: right;
    margin-left: 1rem;
}

/* .clear {
    clear:both
} 
outdated way to clear space*/

section {
    background-color: hsla(17, 100%, 74%, 0.8);
    padding: 1rem;
    display: flow-root; /* right way to clear space */
    /* overflow: auto;  - possible but is not correct way*/
}
