body {
    text-align: justify;
    margin: 0 auto;
    padding: 30px;
    max-width: 1400px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.6;
    color: indigo;
    background-color: #FCF7FF;
}

.container {
    display: flex;
}


/* Otsikkot */
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 400;
    border-radius: 15px;
    font-size: 4rem;
    text-align: center;
    color: #A4508B;
    background-color: #a4508b2c;
}


.important {
    font-style: italic;
    font-weight: 300;
    color: #A4508B;
}

.resepti_1 {
    flex: 1;
    border-right: indigo 1px solid;
    padding: 3rem;
    margin: 1rem auto;
    color: rgb(79, 43, 147);
}

.resepti_2 {
    flex: 1;
    padding: 3rem;
    margin: 1rem auto;
    color: #4062BB;
}