* {
    box-sizing: border-box;
}

body {
    max-width: 1400px;
    margin: 0 auto;
}

article>h2 {
    color: lightsalmon;
}

h2+p {
    color: lightskyblue
}

section p:first-child {
    color: lightseagreen;
}

